[submodule "submodules/tensorflow"]
	path = submodules/tensorflow
    url = git@github.com:tensorflow/tensorflow.git
[submodule "submodules/downloads"]
	path = submodules/downloads
	url = git@github.com:tylerhawkes/tflite-rs-downloads.git
